<div class="page-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="d01e57f4-e73a-65d3-95aa-b600a5a5e2d8"
        class="navbar transparent w-nav">
        <div class="container-alternativ w-container">
            <a href="index.html" class="logo-brand w-nav-brand">
                <img src="assets/wings main-logo.png" width="47" class="image-logo white" />
                <h1 data-w-id="d01e57f4-e73a-65d3-95aa-b600a5a5e2dc" class="logo-text">WINGS<b>.</b></h1>
            </a>
            <nav role="navigation" class="nav-menu black w-nav-menu">

                <div data-delay="0" class="w-dropdown">
                    <div class="nav-link dropdown white w-dropdown-toggle">
                        <div class="tittle-nav-link"><a class="navbarA tittle-nav-link" href="#portfolio">PORTFOLIO</a></div>

                    </div>
                </div>
                <div data-delay="0" class="w-dropdown">
                    <div class="nav-link dropdown white w-dropdown-toggle">
                        <div class="tittle-nav-link"><a class="navbarA tittle-nav-link" href="#AboutUs">ABOUT US</a></div>

                    </div>

                </div>
                <div data-delay="0" class="w-dropdown">
                    <div class="nav-link dropdown white w-dropdown-toggle">
                        <div class="tittle-nav-link"><a class="navbarA tittle-nav-link" href="#services">SERVICES</a></div>

                    </div>

                </div>
                <div data-delay="0" class="w-dropdown">
                    <div class="nav-link dropdown white w-dropdown-toggle">
                        <div class="tittle-nav-link"><a class="navbarA tittle-nav-link" href="#dataanalysis">DATA
                                ANALYSIS</a></div>

                    </div>

                </div>
                <div data-delay="0" class="w-dropdown">
                    <div class="nav-link dropdown white w-dropdown-toggle">
                        <div class="tittle-nav-link"><a class="navbarA tittle-nav-link" href="#">PRICING</a></div>
                    </div>
                </div>
                <div data-delay="0" class="w-dropdown">
                    <div class="nav-link dropdown white w-dropdown-toggle">
                        <div class="tittle-nav-link"><a class="navbarA tittle-nav-link" href="#contactus">CONTACT US</a></div>

                    </div>

                </div>
            </nav>
            <div class="menu-button white-menu-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div data-poster-url="https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5ae31661c7d1685a336b4414_Liquid - 885-poster-00001.jpg"
        data-video-urls="https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5ae31661c7d1685a336b4414_Liquid - 885-transcode.webm,https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5ae31661c7d1685a336b4414_Liquid - 885-transcode.mp4"
        data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video-center w-background-video w-background-video-atom">
        <video autoplay="" loop="" style="background-image:url(_https_/uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5ae31661c7d1685a336b4414_Liquid%20-%20885-poster-00001.html)"
            muted="" data-wf-ignore="true">
            <source src="https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5ae31661c7d1685a336b4414_Liquid - 885-transcode.webm"
                data-wf-ignore="true" />
            <source src="https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5ae31661c7d1685a336b4414_Liquid - 885-transcode.mp4"
                data-wf-ignore="true" />
        </video>
        <div class="full-container center homepages1">
            <div data-w-id="043e8289-9246-d698-145f-6555a031753d" style="-webkit-transform:translateX(0) translateY(50PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(50PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(50PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(50PX) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                class="section-tittle-block no-space">
                <div>
                    <div class="div-block-center-hero">
                        <p class="paragraph white big"></p>
                        <h1 class="hero-big-text hero big"><strong class="bold-text">We Crafts</strong> <br />Stunning
                            Web Apps</h1>
                        <div class="button-block-center play">
                            <a href="#" class="button move-up color no-hover orange padding w-button">Contact Now</a>
                            <a href="#" class="button move-up color no-hover orange padding empty w-button">View
                                POrtfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#AboutUs" class="scroll-down-link w-inline-block"></a>
    </div>

    <!-- Service Section -->
    <section id="AboutUs" class="section">
        <div class="full-container">
            <div data-w-id="3d8a95a9-ddaf-5e42-bb1a-12079c0ec5ad" style="opacity:0" class="section-tittle-block">
                <div class="sub-tittle">Welcome to WINGS Software</div>
                <h1 class="section-tittle">We’re an Innovative, Out of the Box Web Application Development Company<br />from
                    Bangladesh.</h1>
            </div>
            <div>
                <div data-w-id="fdcdcb4d-cbc4-de5b-df94-06f6fc9e476c" style="opacity:0" class="w-row">
                    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6">
                        <div class="content-features-service _3 new">
                            <h4 class="service white">PIXEL PERFECT</h4>
                            <p class="paragraph in-services light">Perfection at every aspect</p>
                            <p class="paragraph light">We focus on quality which Clients demands most</p>
                        </div>
                    </div>
                    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6">
                        <div class="content-features-service _1 new">
                            <h4 class="service white">DOCUMENTATION</h4>
                            <p class="paragraph in-services light">Easy Understanding </p>
                            <p class="paragraph light">For our every project, we provide proper and consize
                                Documentation</p>
                        </div>
                    </div>
                    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6">
                        <div class="content-features-service _2">
                            <h4 class="service white">GREAT PRICING</h4>
                            <p class="paragraph in-services light">Customize your pricing, </p>
                            <p class="paragraph light">Client can minimize what they need and make own pricing</p>
                        </div>
                    </div>
                    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6">
                        <div>
                            <div class="content-features-service _4">
                                <h4 class="service white">USER-FRIENDLY</h4>
                                <p class="paragraph in-services light">Usability with ease, </p>
                                <p class="paragraph light">we ensures great user experience by variety of testing
                                    techniques</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-clearfix">
                    <div class="features-wrapper home10"></div>
                    <div class="features-wrapper home10"></div>
                    <div class="features-wrapper home10"></div>
                    <div class="features-wrapper home10"></div>
                </div>
            </div>

        </div>
    </section>

    <div class="section gray left-image">
        <div class="full-container w-container">
            <div class="w-row">
                <div class="w-col w-col-6 w-col-stack">
                    <div class="center-block padding">
                        <div class="div-right-toggle">
                            <div class="sub-tittle">About Our Agency</div>
                            <h1 class="headling-left">Hello, We are WINGS Software, an Digital Creative Bangladeshi
                                Agency.</h1>
                            <div class="top-left-text _50">
                                <p class="paragraph left-side"> WINGS gives the customer the freedom to choose their
                                    own plan and pricing
                                    having great flexibility as well. <strong class="bold-text-color">mi quis viverra
                                        ornare</strong>, eros dolor
                                    interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                                    cursus id rutrum lorem
                                    imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="w-col w-col-6 w-col-stack"></div>
            </div>
        </div>
    </div>


    <div class="section bottom-line">
        <div class="full-facts-wrapper"></div>
        <div class="full-container">
            <div class="w-row">
                <div class="column w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                    <div class="div-fact">
                        <div class="fun-icon"></div>
                        <div class="fun-content">
                            <h1 class="fun-tittle">26</h1>
                            <div class="sub-text smaller fun">Employees</div>
                        </div>
                    </div>
                </div>
                <div class="column w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                    <div class="div-fact no-line-right">
                        <div class="fun-icon _2"></div>
                        <div class="fun-content">
                            <h1 class="fun-tittle">1230</h1>
                            <div class="sub-text smaller fun">Happy Working Hours</div>
                        </div>
                    </div>
                </div>
                <div class="column w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                    <div class="div-fact no-line-down">
                        <div class="fun-icon _3"></div>
                        <div class="fun-content no-space add">
                            <h1 class="fun-tittle">24X7</h1>
                            <div class="sub-text smaller fun">Support</div>
                        </div>
                    </div>
                </div>
                <div class="column w-col w-col-3 w-col-small-small-stack w-col-medium-6">
                    <div class="div-fact no-line down">
                        <div class="fun-icon _4"></div>
                        <div class="fun-content no-space">
                            <h1 class="fun-tittle">12</h1>
                            <div class="sub-text smaller fun">LT Clients</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section gray" id="portfolio">
        <div class="full-container w-container">
            <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a3d2" style="opacity:0" class="bottom-block">
                <div class="sub-tittle">Our Recent Works</div>
                <h1 class="heading-section">Featureful Stunning Projects</h1>
            </div>
            <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a3d7" style="-webkit-transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                class="w-row">
                <div class="w-col w-col-4">
                    <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a3d9" class="portfolio-wrapper rounded">
                        <a href="http://dishari.com" target="blank" class="portfolio-lightbox w-inline-block">
                            <div class="portfolio-image-div _3"></div>
                            <div data-ix="hide-project-overlay-on-initial" style="opacity:0" class="overlay-portfolio other-color">
                                <div style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                                    class="portfolio-content zoom-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="center-device portfolio"><a href="http://disharii.com" target="blank" class="project-tittle portfolistyle3">DISHARI</a>
                        <p class="paragraph">Book selling and buying Web Application</p>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a3e4" class="portfolio-wrapper rounded"><a href="https://welcomebangladesh-6b613.web.app/"
                        target="blank" class="portfolio-lightbox w-inline-block">
                            <div class="portfolio-image-div _2"></div>
                            <div data-ix="hide-project-overlay-on-initial" style="opacity:0" class="overlay-portfolio other-color">
                                <div style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                                    class="portfolio-content zoom-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="center-device portfolio"><a href="https://welcomebangladesh-6b613.web.app/" target="blank" class="project-tittle portfolistyle3">WELCOME
                            BANGLADESH</a>
                        <p class="paragraph">Tourism and destination Directory</p>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a3ef" class="portfolio-wrapper rounded"><a href="http://onlinex-raybd.com" target="blank"
                            class="portfolio-lightbox w-inline-block">
                            <div class="portfolio-image-div">
                            </div>
                            <div data-ix="hide-project-overlay-on-initial" style="opacity:0" class="overlay-portfolio other-color">
                                <div style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                                    class="portfolio-content zoom-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="center-device portfolio"><a href="http://onlinex-raybd.com" target="blank" class="project-tittle portfolistyle3">Online X-Ray BD</a>
                        <p class="paragraph">Web application For Online Xray Checkup and report</p>
                    </div>
                </div>
            </div>
            <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a3f9" style="-webkit-transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(60PX) translateY(0) translateZ(0) scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                class="row w-row">
                <div class="w-col w-col-4">
                    <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a3fb" class="portfolio-wrapper rounded"><a href="https://vhumi-office-web.firebaseapp.com" target="blank"
                            class="portfolio-lightbox w-inline-block">
                            <div class="portfolio-image-div _6"></div>
                            <div data-ix="hide-project-overlay-on-initial" style="opacity:0" class="overlay-portfolio other-color">
                                <div style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                                    class="portfolio-content zoom-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="center-device portfolio"><a href="https://vhumi-office-web.firebaseapp.com" target="blank" class="project-tittle portfolistyle3">
                            E-LAND OFFICE Mobile App</a>
                        <p class="paragraph">A Mobile Application for paying Tax to Govt.</p>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a406" class="portfolio-wrapper rounded"><a href="http://sobjimart.com/" target="blank"
                            class="portfolio-lightbox w-inline-block">
                            <div class="portfolio-image-div _5">
                            </div>
                            <div data-ix="hide-project-overlay-on-initial" style="opacity:0" class="overlay-portfolio other-color">
                                <div style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                                    class="portfolio-content zoom-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="center-device portfolio"><a href="http://sobjimart.com/" target="blank" class="project-tittle portfolistyle3">Sobji Mart</a>
                        <p class="paragraph">Online Platform for Buying Fresh Vegetables</p>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div data-w-id="39857188-d1f1-6201-7764-d811e8d9a411" class="portfolio-wrapper rounded"><a href="http://hotellechateaudhaka.com/" target="blank"
                            class="portfolio-lightbox w-inline-block">
                            <div class="portfolio-image-div _4"></div>
                            <div data-ix="hide-project-overlay-on-initial" style="opacity:0" class="overlay-portfolio other-color">
                                <div style="-webkit-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-moz-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);-ms-transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);transform:translateX(0) translateY(0) translateZ(0) scaleX(1.2) scaleY(1.2) scaleZ(1) rotateX(0) rotateY(0) rotateZ(0) skewX(0) skewY(0);opacity:0"
                                    class="portfolio-content zoom-icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="center-device portfolio"><a href="http://hotellechateaudhaka.com/" target="blank" class="project-tittle portfolistyle3">Hotel
                            Lechateau</a>
                        <p class="paragraph">Hotel Portfolio and reservation Web Application</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section background laptop" id="services">
        <div class="full-container">
            <div data-w-id="d253381a-14b5-a760-fa78-cef26387ece5" style="opacity:0" class="bottom-block">
                <div class="sub-tittle">This is why we work so hard!</div>
                <h1 class="heading-section">We deliver the best design quality</h1>
            </div>
            <div>
                <div class="center-div-laptop">
                    <img src="assets/5b0b1cae4e359caa503020ef_Apple-Macbook-Space-Grey2.png" width="900" srcset="assets/5b0b1cae4e359caa503020ef_Apple-Macbook-Space-Grey2.png"
                        sizes="(max-width: 479px) 92vw, (max-width: 991px) 95vw, 900px" data-w-id="a858d27e-29b3-9ce3-abe7-a67d479078f6"
                        style="opacity:0" class="laptop-on-top new" />
                </div>
            </div>
            <div class="top-space-block _100"></div>
        </div>
    </div>
    <div class="section black">
        <div class="full-container">
            <div data-w-id="868789bf-a4c2-acfc-bb20-9a550c05bf70" style="opacity:0" class="w-row">
                <div class="w-col w-col-4">
                    <div class="services-wrapper">
                        <div class="services-icon style2 _3"></div>
                        <div class="services-content">
                            <h4 class="services-second-title">Web Design and Development</h4>
                            <p class="paragraph left-side light">Complete web app solution using latest state of the
                                art technologies.</p>
                        </div>
                    </div>
                    <div class="services-wrapper">
                        <div class="services-icon style2 _4"></div>
                        <div class="services-content">
                            <h4 class="services-second-title">Ecommerce Solution</h4>
                            <p class="paragraph left-side light">Full and maintainable ecommerce solution with
                                comfortable price tag.</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="services-wrapper">
                        <div class="services-icon style2"></div>
                        <div class="services-content">
                            <h4 class="services-second-title">Domain/Hosting</h4>
                            <p class="paragraph left-side light">Customer selected self configured hosting and for
                                website and web
                                applications.</p>
                        </div>
                    </div>
                    <div class="services-wrapper">
                        <div class="services-icon style2 _5"></div>
                        <div class="services-content">
                            <h4 class="services-second-title">Exclusive Training</h4>
                            <p class="paragraph left-side light">Exclusive hands on Training for every completed
                                project and for latest
                                technologies.</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="services-wrapper">
                        <div class="services-icon style2 _2"></div>
                        <div class="services-content">
                            <h4 class="services-second-title">Consultancy</h4>
                            <p class="paragraph left-side light">Proper and efective consultancy on IT services for
                                organizations.</p>
                        </div>
                    </div>
                    <div class="services-wrapper">
                        <div class="services-icon style2 _6"></div>
                        <div class="services-content">
                            <h4 class="services-second-title">System Analysis</h4>
                            <p class="paragraph left-side light">Comprehensive analysis of clients requirements on
                                which technologies to
                                use.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="dataanalysis">
        <div class="full-container w-container">
            <div class="w-row">
                <div data-w-id="80460a54-4bf7-a180-12e0-80c94ea223f0" style="opacity:0" class="w-col w-col-6 w-col-stack">
                    <div class="section-tittle-block no-margin">
                        <div class="sub-tittle">Data Analysis to Enhance the power of Data</div>
                        <h1 class="headling-left">Data the driving force of future Businesses</h1>
                        <p class="paragraph contact padding">Most of the world famous company leveraging peoples data
                            and extarct useful
                            knowledge to improve and make more profit from their businesses.<strong class="bold-text-color">
                                Wings Software</strong>,
                            will enable those companies who are startup or SME to use their customer data to enhance
                            their businesses.
                            Features of our service Includes:</p>
                        <ul class="check-list w-list-unstyled">
                            <li class="check-list-item w-clearfix">
                                <p class="check-list-tiitle">Exclusive Visualization on Sales Report</p>
                            </li>
                            <li class="check-list-item w-clearfix">
                                <p class="check-list-tiitle">Analysis on Target Customer and their Expectation.</p>
                            </li>
                            <li class="check-list-item w-clearfix">
                                <p class="check-list-tiitle">Understanding KPI and achieving KPI.</p>
                            </li>
                            <li class="check-list-item w-clearfix">
                                <p class="check-list-tiitle">Training on Latest Data Analysis Technologies</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w-clearfix w-col w-col-6 w-col-stack">
                    <div data-w-id="80460a54-4bf7-a180-12e0-80c94ea2240d" style="opacity:0" class="video-div-block">
                        <div class="video-wrapper full"><a href="#" class="w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5ace3956ffcb082f3d9a617b_play-rounded-button.svg"
                                    class="lightbox-divider center in-video" /></a><img src="../../uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5af0b29890f0fe7c0cf24bb3_41432.jpg"
                                srcset="https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5af0b29890f0fe7c0cf24bb3_41432-p-800.jpeg 800w, https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5af0b29890f0fe7c0cf24bb3_41432-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/59df5f8cb9bf250001a7ce20/5af0b29890f0fe7c0cf24bb3_41432.jpg 1600w"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 86vw, 42vw"
                                class="working-table" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider padding" id="contactus"></div>
            <div class="top-space-block _100">
                <div class="w-row">
                    <div data-w-id="80460a54-4bf7-a180-12e0-80c94ea22415" style="opacity:0" class="w-clearfix w-col w-col-6 w-col-stack">
                        <div class="contact-div-percentual">
                            <div class="form-contact midddle w-form">
                                <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><label class="field-label">NAme</label><input
                                        type="text" id="name-2" name="name-2" data-name="Name 2" placeholder="Enter your name"
                                        maxlength="256" class="paragraph text-field second w-input" /><label class="field-label">Email
                                        Address</label><input type="text" id="name-2" name="name-2" data-name="Name 2"
                                        placeholder="Enter your name" maxlength="256" class="paragraph text-field second w-input" /><label
                                        class="field-label">MEssage</label><input type="email" class="paragraph text-field second area w-input"
                                        maxlength="256" name="email-3" data-name="Email 3" placeholder="Enter your message"
                                        id="email-3" required="" />
                                    <div class="check-box">
                                        <div class="checkbox-field-quote w-checkbox"><input type="checkbox" id="checkbox-2"
                                                name="checkbox-2" data-name="Checkbox 2" checked="" class="checkbox-field w-checkbox-input" /><label
                                                for="checkbox" class="field-label-last w-form-label">Get
                                                a quote now!</label>
                                        </div>
                                    </div>
                                    <input type="submit" value="Submit" data-wait="Please wait..." class="button move-up color no-hover full w-button" />
                                </form>
                                <div class="message w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="error-message w-form-fail">
                                    <div class="text-block-25">Oops! Something went wrong while submitting the form</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-id="80460a54-4bf7-a180-12e0-80c94ea2242e" style="opacity:0" class="w-col w-col-6 w-col-stack">
                        <div class="section-tittle-block no-margin">
                            <div class="sub-tittle">Let&#x27;s Connect</div>
                            <h1 class="headling-left">Drop Us a Line</h1>
                            <p class="paragraph contact padding">Check our Hotline Numbers and Address. For any query
                                and information, feel
                                free to visit to our office or call our helpline numbers</p>
                            <div class="w-row">
                                <div class="column w-col w-col-6 w-col-small-6">
                                    <div class="div-service-left contact">
                                        <div class="features-icon address"></div>
                                        <div class="features-content">
                                            <h4 class="features-tittle">CONTACT ADDRESS</h4>
                                            <p class="paragraph left-side">House #33, Road #10, Nikunjo-2, khilkhet,
                                                Dhaka-1229</p>
                                        </div>
                                    </div>
                                    <div class="div-service-left">
                                        <div class="features-icon email"></div>
                                        <div class="features-content">
                                            <h4 class="features-tittle">EMAIL US</h4>
                                            <p class="paragraph left-side">info@wings-soft.com<br />contact@wings-soft.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-col w-col-6 w-col-small-6">
                                    <div class="div-service-left contact">
                                        <div class="features-icon talk"></div>
                                        <div class="features-content">
                                            <h4 class="features-tittle">LET&#x27;S TALK</h4>
                                            <p class="paragraph left-side">Phone: +880-1632-079419<br />Phone:
                                                +880-1744-353576</p>
                                        </div>
                                    </div>
                                    <div class="div-service-left contact">
                                        <div class="features-icon hours"></div>
                                        <div class="features-content">
                                            <h4 class="features-tittle">WORKING HOURS</h4>
                                            <p class="paragraph left-side">Sun to Thu - 9 AM to 6 PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section color less-space">
        <div class="full-container">
            <div class="w-row">
                <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                    <div class="logo-div"></div>
                </div>
                <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                    <div class="logo-div _2"></div>
                </div>
                <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                    <div class="logo-div _3"></div>
                </div>
                <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                    <div class="logo-div _4"></div>
                </div>
                <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                    <div class="logo-div _5"></div>
                </div>
                <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
                    <div class="logo-div _6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-new footer">
        <div class="container w-container">
            <div class="w-row">
                <div data-w-id="d625d0c8-0233-06dc-8ee1-d997c5611234" class="w-col w-col-3 w-col-medium-6">
                    <div class="footer-div-line first">
                        <h6 class="tittle-footer">ABOUT WINGS</h6>
                        <p class="paragraph footer-text">Web apllications are now one of the basic need in the market.<strong
                                class="bold-text-color">
                                WINGS</strong> is dedicated company to provide best system solution avalibale in the
                            market </p>
                    </div>
                </div>
                <div data-w-id="d625d0c8-0233-06dc-8ee1-d997c561123d" class="w-col w-col-2 w-col-medium-6">
                    <div class="footer-div-line sec">
                        <div class="div-useful-links">
                            <h6 class="tittle-footer">USEFUL LINKS</h6><a href="#" class="footer-link">Home</a><a href="#"
                                class="footer-link">About
                                Us</a><a href="#" class="footer-link">Services</a><a href="#" class="footer-link">Pricing</a><a
                                href="#" class="footer-link">Portfolio</a>
                        </div>
                    </div>
                </div>
                <div data-w-id="d625d0c8-0233-06dc-8ee1-d997c561124c" class="w-col w-col-4 w-col-medium-6">
                    <div class="footer-div-line third">
                        <div class="useful-pages bottom">
                            <h6 class="tittle-footer second">SUBSCRIBE NEWSLETTER</h6>
                        </div>
                        <p class="paragraph left-side">To get updated with our latest product and software release.
                            Please be
                            subscribed.</p>
                        <div class="newsletter-div">
                            <div class="w-form">
                                <form id="email-form" name="email-form" data-name="Email Form"><input type="email"
                                        class="paragraph text-field left-side w-input" maxlength="256" name="Email-2"
                                        data-name="Email 2" placeholder="Email address" id="Email-2" required="" /></form>
                                <div class="message w-form-done">
                                    <div class="text-block-contante">✌️ Thank you for subscribing!</div>
                                </div>
                                <div class="error-message w-form-fail">
                                    <div class="error-text">Oops! Something went wrong while submitting the form</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="d625d0c8-0233-06dc-8ee1-d997c561125d" class="w-col w-col-3 w-col-medium-6">
                    <div class="footer-div-line sec">
                       
                    </div>
                </div>
            </div>
            <div class="bottom-border">
                <div class="copyright-writter">
                    <div class="w-row">
                        <div class="column-footer-copyright w-col w-col-6"></div>
                        <div class="column-footer-copyright-right w-col w-col-6">
                            <div class="all-right">
                                <p class="copyright">© 2018 WINGS / All rights reserved / Powered by <a href="http://www.wings-soft.com/"
                                        class="important-link">WINGS</a></p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>